<!doctype html>
<html>
  <head>
    <title>Add Expense</title>
  </head>
  <body>
    <h1>Add Expense</h1>

    <form action="/add" method="POST">
      <input type="text" name="name" placeholder="Item name" required />
      <input type="text" name="brand" placeholder="Item brand" required />
      <input type="number" name="amount" placeholder="Amount" required />
      <input
        type="number"
        name="quantity"
        placeholder="Item quantity"
        required
      />
      <button type="submit">Add</button>
    </form>

    <a href="/list">View Expenses</a>
  </body>
</html>
