<!doctype html>
<html>
  <head>
    <title>Expenses</title>
  </head>
  <body>
    <h1>Expense List</h1>

    <ul>
      {% for item in items %}
      <li>
        {{ item.name }} - {{item.brand}} - {{ item.amount }} - {{item.quantity}}
        <form
          action="/delete/{{ item['item_id']}}"
          method="POST"
          style="display: inline"
        >
          <button type="submit">Clear</button>
        </form>
      </li>
      {% endfor %}
    </ul>

    <h2>Total: {{ total }}</h2>
    <form action="/clear" method="POST">
      <button type="submit">clear all</button>
    </form>
    <a href="/">Add More</a>
  </body>
</html>
